html {
  background-color: #A3B18A;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin: 0;
}

header {
  padding: 12px;
}

footer {
  background-color: #588157;
  margin-top: 24px;
  padding: 24px;
}

main {
  max-width: 800px;
  margin: auto;
}

.main-page-book-review {
  background-color: #DAD7CD;
  /* border: 1px solid #344E41; */
  padding: 50px;
  box-shadow: 20px 20px 20px 15px #344E41;
  margin: 50px
}

.book-title {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.book-rating {
  text-align: center;
  font-size: 125%;
}

.book-authors {
  text-align: center;
  color: dimgray;
}

.web-title {
  text-align: center;
  font-size: 300%;
  font-family:Arial, Helvetica, sans-serif;
}

.review-nav {
  text-align: center;
  font-size: 100%
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 5px 5px 5px 5px #344E41;
}

